
configs/
aws_key.csv
src/__pycache__/
__pycache__/
*.pyc
*.pem
curl.py
# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc